html, body {
  color: darkgrey;
  font-family: sans-serif;
}

.index {
  display: flex;
  flex-direction: column;
}

header {
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  align-items: center;
}

header .select {
  width: 10rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
